* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
main {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text {
  color: white;
  font-size: 220px;
  text-align: center;
}

.works {
  width: 80%;
  height: 300vh;
  display: flex;
  flex-wrap: wrap;
}
.works .card {
  height: 400px;
  width: 300px;
  display: grid;
  grid-template-rows: 8fr 1fr;
  justify-items: center;
  margin: 2%;
  padding: 2%;
}

.portfolio {
  color: rgba(255, 255, 255, 0.308);
  font-size: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  padding: 5px;
  z-index: -3;
  text-align: center;
}

.works .card .img {
  height: 80%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.works .card a {
  color: white;
  font-size: 18px;
}

.creator {
  background-image: url(./images/creator.jpg);
}

.eac {
  background-image: url(./images/2.png);
}

.house-finder {
  background-image: url(./images/3.png);
}
.carousel {
  background-image: url(./images/4.png);
}
.carousel {
  background-image: url(./images/4.png);
}
.css-animation {
  background-image: url(./images/6.png);
}
.news-app {
  background-image: url(./images/5.png);
}

@media screen and (max-width: 480px) {
  .header-text {
    font-size: 68px;
  }

  .portfolio {
    font-size: 68px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 360px) {
  .header-text {
    font-size: 58px;
  }

  .portfolio {
    font-size: 58px;
    text-transform: uppercase;
  }
}
